<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <a class="btn btn-lg btn-success" href="www.baidu.com">点击预约检车</a>
  </div>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= render_navigation( level: 1, context: :user, renderer: :list_bootstrap_render) %>
  </ul>
</section>
<!-- /.sidebar -->
