<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
  <% if can? :create, Catagory %>
    <div class="btn-group">
        <%= link_to new_back_system_catagory_path, {class: 'btn btn-default'} do%>
          <i class="glyphicon glyphicon-plus"></i> <%= t('view.action.new') %> 
      <% end -%>
    </div>
  <% end -%>
  </div>
</div>

<div class='car-content-list'>
  <%= grid @catagories_grid, show_filters: :no do |g|
    g.action_column
    g.column name: Catagory.human_attribute_name(:order), attribute: "order"
    g.column name: Catagory.human_attribute_name(:name), attribute: "name"
    g.column name: Catagory.human_attribute_name(:memo), attribute: "memo", ordering: false do |item|
      truncate(item.memo, length: 30)
      # item.memo
    end
    g.column do |item|
      links = []
      if can? :read, item
        links << link_to(I18n.t('view.action.show'), [:back, :system, item])
      end
      if can? :update, item
        links << link_to(I18n.t('view.action.edit'), edit_back_system_catagory_path(item))
      end
      if can? :destroy, item
        links << link_to(I18n.t('view.action.delete'), [:back, :system, item], method: :delete, data: { confirm: t('view.confirm.delete')})
      end
      links.join(t('view.label.links_split')).html_safe
    end
  end -%>
</div>
