<div class="error-page">
    <h2 class="headline text-info"> 403</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> 抱歉! 您无权访问此页面.</h3>
        <p>
            你可以<a href="<%= back_root_path %>"> 返回到控制面板 </a>.
        </p>
        <!--
        申请权限form
        -->
    </div><!-- /.error-content -->
</div><!-- /.error-page -->

