<div class="error-page">
    <h2 class="headline text-info"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> 抱歉! 找不到该页面.</h3>
        <!--
        <p>
            我们找不到你要访问的页面. 
            你可以<a href=""> 返回到控制面板 </a>.
        </p>
        <p>
            我们找不到你要访问的页面. 
            你可以<a href='../../index.html'>返回到控制面板</a>或者尝试使用下面的查找功能.
        </p>
        <form class='search-form'>
            <div class='input-group'>
                <input type="text" name="search" class='form-control' placeholder="Search"/>
                <div class="input-group-btn">
                    <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        -->
    </div><!-- /.error-content -->
</div><!-- /.error-page -->

