<% content_for :head_title do %>
  登录
<% end %>

<div class='row car-devise'>
  <div class='col-sm-8 car-left-side'>
    <div class="car-nav-tabs-custom">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="<%= new_user_session_path %>">账号登录</a></li>
        <li><a href="<%= new_by_telephone_user_session_path%>">手机动态码登录</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_email">
          <%= render "front/common/sign_in_form_email", mode: :normal %> 
        </div>
      </div>
    </div>
  </div>

  <div class='col-sm-4 car-right-side'>
    <%= render "users/shared/links" %>
  </div>
</div>
