<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>
          <%= @newest_order_phone_count %><sup class="unit"> <%= t('view.unit.jian') %></sup>
        </h3>
        <p>新预约</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <%= link_to t('view.action.more_info').html_safe, back_mystation_orders_path(scope: 'newest'),
        class: "small-box-footer" %>
    </div>
  </div><!-- ./col -->
</div><!-- /.row -->
