<!-- 提示图标 -->
<div class="car-order-select-time-tips">
  <div class="tip_enable">
    <p><span class="state iradio_square-green"></span></p>
    <span>可预定</span>
  </div>
  <div class="tip_disable">
    <p></p>
    <span>不可预定</span>
  </div>
  <div class="tip_selected">
    <p><span class="state iradio_square-green checked"></span></p>
    <span>已选择</span>
  </div>
</div>
