  <div class="form-group">
    <label for="inputCarNo" class="col-sm-2 control-label">车牌号</label>
    <div class="col-sm-6">
      <div class="input-group">
        <span class="input-group-addon">陕</span>
        <input type="text" class="form-control" id="inputCarNo" placeholder="AXXXXX">
      </div>
    </div>
  </div>
