<div class="success">
  <div class="alert alert-success">恭喜您！您已经预约成功!</div>
  <div class="panel panel-info">
    <div class="panel-heading">预约信息</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">预约流水号</label>
        <div class="col-sm-9">
          <p class="form-control-static important-info">J567234898784</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">车牌号</label>
        <div class="col-sm-9">
          <p class="form-control-static">陕A12345</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">手机号</label>
        <div class="col-sm-9">
          <p class="form-control-static">18100000000</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">预约车检站</label>
        <div class="col-sm-9">
          <p class="form-control-static">东郊车检站</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">地址</label>
        <div class="col-sm-9">
          <p class="form-control-static">东郊XXX路XX号</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">联系电话</label>
        <div class="col-sm-9">
          <p class="form-control-static">400-400-400</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">预约时间</label>
        <div class="col-sm-9">
          <p class="form-control-static">2014年6月5日 星期五 上午8:00-10:00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">温馨提示</div>
    <div class="panel-body">
      <ul>
        <li>1.请您准时到达指定地点进行车检.</li>
      </ul>
    </div>
  </div>
</div>
