                    <div class="row">
                        <div class="form-left">Email *</div>
                        <div class="form-right"><input type="text" id="email" name="email" class="form-input" /></div>
                        <div class="form-error"></div>
                    </div>
                    <div class="row">
                        <div class="form-left">Mobile No</div>
                        <div class="form-right"><input type="text" id="mobile" name="mobile" class="form-input" /></div>
                        <div class="form-error"></div>
                    </div>
