          <div class="btn-group-vertical station-list" data-toggle="buttons">
            <label class="btn btn-default station-item">
              <input type="radio" name="options" id="option1">
              <p class="name">东郊车检所</p>
              <p>地址：东郊XX路189号     <a>地图</a></p>
              <p>电话：18900000000</p>
            </label>
            <label class="btn btn-default station-item">
              <input type="radio" name="options" id="option2">
              <p class="name">南郊车检所</p>
              <p>地址：南郊XX路289号     <a>地图</a></p>
              <p>电话：28900000000</p>
            </label>
            <label class="btn btn-default station-item">
              <input type="radio" name="options" id="option3">
              <p class="name">西郊车检所</p>
              <p>地址：西郊XX路389号     <a>地图</a></p>
              <p>电话：38900000000</p>
            </label>
          </div>
