      <ul class="payOrderSteps clear">
        <li class="step1">1.选择车检站</li>
        <li class="step2">2.选择检车时间</li>
        <li class="step3">3.填写基本信息</li>
        <li class="step4">4.确认预约信息</li>
        <li class="step5">5.预约成功</li>
      </ul>
