    <div class="modal modal-primary fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">请登录</h4>
          </div>
          <div class="modal-body">
            <div class="car-nav-tabs-custom">
              <ul id="car-tab-sign-in" class="nav nav-tabs" role="tablist">
                <li class="active">
                  <a href="#tab_email" role="tab" data-toggle="tab">账号登录</a>
                </li>
                <li>
                  <a href="#tab_telephone" role="tab" data-toggle="tab">手机动态码登录</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_email">
                  <%= render "front/common/sign_in_form_email", mode: :ajax %> 
                </div>
                <div class="tab-pane" id="tab_telephone">
                  <%= render "front/common/sign_in_form_phone", mode: :ajax %> 
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            还没有账号？赶快 <%= link_to t('view.action.sign_up'), new_user_registration_path,
              class: "btn btn-danger btn-sm" %> 一个吧!
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
