// -----------------------------------------
// 前端的通用样式
// -----------------------------------------
html, body {
  background: #e4e4e4;
}
.car-info-list {
  margin-top: 18px;
}

// -----------------------------------------
// 顶部国定菜单
// -----------------------------------------
.navbar-toggle {
  background-color: #000;
}
.navbar.car-front-common-navbar {
  background: asset-url('bg-site-front.gif') repeat;
  border-bottom: 3px solid #3C8DBC;
  .nav.navbar-nav > li > a {
    color: #000;
    font-weight: bold;
  }
  .nav.navbar-nav > li.active > a {
    color: #fff;
    background-color: #3C8DBC;
  }
  .nav.navbar-nav > li:not(.active) > a:hover {
    color: #3C8DBC;
  }
  .navbar-logo {
    color: #000;
    font-weight: bold;
    margin-right: 50px;
    padding: 0px;
    img {
      height: 50px;
      width: 100px;
      margin-right: 10px;
    }
  }
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #000;
}


// =========================================
// List Group(bootstrap)
// =========================================
a.list-group-item:hover, 
a.list-group-item:focus {
  text-decoration:none;
  color: #fff;
  background: #09B3CD;
  padding-left: 20px;
  font-weight: bold;
}

a.list-group-item:hover > * {
  color: #fff;
}
// =========================================
// Tips
// =========================================
.car-tips-date {
  color: gray;
  font-size: 0.9em;
  margin-top: 8px;
}

// =========================================
// Post
// =========================================
.car-post .car-title {
  border-bottom: solid gray 1px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


// =========================================
// 主要内容部分，因为顶部菜单固定，所以要设置margin-top
// =========================================
#main-content {
  background: asset-url('bg-site-front.gif') repeat;
  margin-top: 50px;
  padding-top: 40px;
  text-align: left;
}

#main-content > .container {
  background-color: #fff;
}

#main-content > .container > .row {
  padding: 20px 30px 30px;
}

// 右侧的内容
.car-content-side {
  min-height: 300px;
}

// 主页的特征图标
@mixin car-big-nav-icon($iconurl) {
  display: inline-block;
  background: asset-url($iconurl) no-repeat transparent;
  background-size: 123px 123px;
  height: 123px;
  width: 123px;
}
.car-big-nav-icon-telephone {
  @include car-big-nav-icon('shouji4.png');
}
.car-big-nav-icon-call {
  @include car-big-nav-icon('dianhua4.png');
}
.car-big-nav-icon-weixin {
  @include car-big-nav-icon('weixin4.png');
}

// =========================================
// List页面的查询部分
// =========================================
.car-condition {
  margin-bottom: 40px;
  background-color: rgba(231, 227, 194, 0.7);
  padding: 10px 20px;
}
.car-condition {
  .car-header {
    margin-bottom: 20px;
  }
  .car-body > dl:not(.selected) {
    a {
      margin: 0px 5px 0px 0px;
      padding: 5px;
      white-space: nowrap;
      line-height: 30px;
    }
    a.active, a:hover {
      background-color: #3c8dbc;
      color: #fff;
    }
  }
  dl {
    margin-bottom: 10px;
  }
  dt {
    width: 10%;
    float: left;
  }
  dd {
    margin-left: 10%;
    word-wrap: break-word;
  }
  dl.selected {
    border-top: 1px dotted #3c8dbc;
    padding-top: 10px;
    margin-top: 20px;
    dt {
      margin-top: 3px;
    }
    div {
      background-color: #00c0ef;
      display: inline-block;
      color: white;
      padding: 0px 0px 2px 8px;
      margin-right: 10px;
      margin-top: 3px;
      a {
        border: none;
        border-radius: 0px;
      }
    }
  }
}

// -----------------------------------------
// 列表显示区域
// -----------------------------------------
.car-list-result {
  list-style: none;
  padding: 0px;
}
.car-list-result > .list-item {
  border-bottom: 1px dotted #3c8dbc;
  margin-bottom: 10px;
  padding: 10px 0px;
}
.car-list-result > .list-item:hover {
  background-color: rgba(231, 227, 194, 0.7);
}
// logo区域
.car-list-result > .list-item > .logo {
  float: left;
  img {
    border-radius: 0px;
    width: 140px;
    height: 90px;
  }
  .action {
    padding: 10px;
  }
}
// 信息区域
.car-list-result > .list-item > .info {
  float: left;
  margin-left: 20px;
  .title > h4 {
    font-weight: bold;
  }
}

// -----------------------------------------
// 页面header > 登录或者注册部分
// -----------------------------------------
#user-action {
  padding-top: 10px;
}
#user-action > a {
  color: #fff;
}

// override alert of bootstrap
.alert {
  margin-left: 0px;
}


// -----------------------------------------
// my shake
// -----------------------------------------

.shake.shake-car-horizontal:hover {
  @extend .shake.shake-horizontal:hover;
  -webkit-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

// -----------------------------------------
// 留言以及FAQ
// -----------------------------------------
.car-question {
  border-bottom: 1px dotted #3c8dbc;
  padding-left: 20px !important;
}
.car-question:hover {
  background-color: #eee;
}
.car-question > .question {
  font-size: 16px;
}
.car-question > .question > i {
  color: #3c8dbc;
}
.car-question > .answer {
  border-left: 2px solid #3c8dbc;
  margin-left:20px;
  padding-left: 10px;
}

// -----------------------------------------
// 翻页
// -----------------------------------------
.car-page-entries-info {
  margin: 25px 10px 0px 0px;
}

// -----------------------------------------
// 手机动态码登录窗体的ajax错误时，错误提示样式
// -----------------------------------------
form#sign_in_remote_form_phone .car-error-tip {
  margin-left: 40px;
  color: red;
}

// -----------------------------------------
// 车检站明细画面
// -----------------------------------------
.station-area-for-show {
}
.station-area-for-show > .title {
  @extend .bg-primary;
  border-radius: 5px;
  padding: 1px 10px;
}
.station-area-for-show > .recommend {
  padding: 5px 10px;
}
// -----------------------------------------
// 车检站明细画面的图片展示
// -----------------------------------------
img.station-pictures {
  width: 525px !important;
  height: 290px !important;
}
