<div class="row panel panel-danger">
  <div class="panel-heading">热门车检站</div>
  <div class="panel-body">
    <ul>
      <li>
        东郊车检站
      </li>
      <li>
        东郊车检站
      </li>
    </ul>
  </div>
</div>
