// -----------------------------------------
// 后台的通用样式
// -----------------------------------------
.form-control {
  color: #555;
}

// 用于包住button，使他保持和标签右面的input框对齐
.button-wrapper {
  padding-left: 5px;
}

// 用于checkbox文字和选择框之间间距
.iradio_minimal, .icheckbox_minimal {
  margin-right: 10px;
}

.car-blank-item {
  margin: 0;
  color: gray;
  font-size: 95%;
}

sup.unit {
  font-size: 20px;
}

// -----------------------------------------
// 页面头部的工具栏
// -----------------------------------------
.car-toolbox {
  padding: 0px 10px;
  border-top: 0px;
  background-color: #f39c12;
  .btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// -----------------------------------------
// 页面内容部分
// -----------------------------------------
.car-content-box {
  padding: 25px 15px 15px;
  dd {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
  }
}

// 针对form的设计
.car-content-form {
  padding: 0;
}
// form表单部分
.car-form-items {
  padding: 25px 15px 15px;
}
// 提交按钮部分
.car-form-actions {
  padding: 15px;
}

// -----------------------------------------
// 重写既有css(比如adminlte的样式)
// -----------------------------------------
.small-box .icon {
  bottom: 25px;
}
