// -----------------------------------------
// 后台的通用样式
// -----------------------------------------
.form-control {
  color: #555;
}

// 用于包住button，使他保持和标签右面的input框对齐
.button-wrapper {
  padding-left: 5px;
}

// 用于checkbox文字和选择框之间间距
.iradio_minimal, .icheckbox_minimal {
  margin-right: 10px;
}

.car-blank-item {
  margin: 0;
  color: gray;
  font-size: 95%;
}

sup.unit {
  font-size: 20px;
}


// -----------------------------------------
// 重写既有css(比如adminlte的样式)
// -----------------------------------------
.small-box .icon {
  bottom: 25px;
}

// -----------------------------------------
// 外置查询条件部分
// -----------------------------------------
.car-filter > .box > .box-header {
  padding-bottom: 0px;
}
.box-header.car-filter-header {
  border-bottom: 1px solid #f4f4f4;
  .fa {
    font-size: 18px;
  }
  .box-title {
    font-size: 18px;
  }
}
.car-filter-item {
  margin: 5px;
}
