// -----------------------------------------
// 系统通用样式
// -----------------------------------------
html, body {
  background-color: $car-body-bg-color;
}

.important-info {
  font-weight: bold;
  color: red;
}

// -----------------------------------------
// tab导航
// -----------------------------------------
.car-nav-tabs-custom {
  .nav-tabs {
    border-bottom: 2px solid #3c8dbc;
    li {
      padding: 0px;
      margin-bottom: 0px;
      min-width: 100px;
      text-align: center;
    }
    li > a {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      border: none;
      font-weight: bold;
    }
    li > a:hover, li > a:focus {
      border: none;
    }
    li.active {
      background-color: #3c8dbc;
      a {
        color: #fff;
        background-color: #3c8dbc;
      }
    }
    li:not(.active) {
      a {
        color: black;
      }
    }
    li:not(.active):hover {
      margin-right: 0px;
      background-color: #eee;
    }
  }
}

.car-nav-tabs-custom > .header {
  padding: 10px;
  background-color: #eee;
}

.car-nav-tabs-custom > .tab-content {
    padding: 20px 0px;
}

// -----------------------------------------
// footer部分
// -----------------------------------------
footer {
  padding: 30px 0px 40px;
  background-color: $car-footer-bg-color;
  color: #fff;

  ul {
    list-style: none;
    padding: 0px;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
  a, a:hover {
    color: #fff;
  }
  div.site-info > span {
    margin-right: 10px;
  }
}


// -----------------------------------------
// 页面头部的工具栏
// -----------------------------------------
.car-toolbox {
  padding: 0px 10px;
  border-top: 0px;
  background-color: #f39c12;
  .btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// -----------------------------------------
// 页面内容部分
// -----------------------------------------
.car-content-box {
  padding: 25px 15px 15px;
  dd {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
  }
}

// 针对form的设计
.car-content-form {
  padding: 0;
}
// form表单部分
.car-form-items {
  padding: 25px 15px 15px;
}
// 提交按钮部分
.car-form-actions {
  padding: 15px;
}

// -----------------------------------------
// simple form wrapper部分
// -----------------------------------------
.simple-form-inline {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

// -----------------------------------------
// btn default上的标签
// -----------------------------------------
.btn.btn-default > .badge {
  background-color: #367fa9;
}

// -----------------------------------------
// order 选择日期时间段
// -----------------------------------------
.car-order-select-time-table {
  width: 98%;
}
.car-order-select-time-table > thead > tr > th {
  border-top: none;
}
.car-order-select-time-table > thead > tr > th:first-child {
  border-left: none;
}
.car-order-select-time-table > thead > tr > th:last-child {
  border-right: none;
}
.car-order-select-time-table > tbody > tr > td:first-child {
  border-left: none;
  width: 100px;
}
.car-order-select-time-table > tbody > tr > td:last-child {
  border-right: none;
}
.car-order-select-time-table > thead > tr > th,
.car-order-select-time-table > tbody > tr > td {
  line-height: 14px;
  text-align: center;
  border: 1px solid #3c8dbc;
}
.car-order-select-time-table > tbody > tr > td.data-area {
  padding: 0px;
  vertical-align: middle;
}
.car-order-select-time-table > tbody > tr > td.data-area > div.data {
  // height: 30px !important;
  // padding-top: 4px;
}
.car-order-select-time-table td.data-area.disabled {
  background-color: #C2BFBF;
}

/*
.car-order-select-time-table .iradio_square-green {
  background-position: -144px 0;
}
.car-order-select-time-table .iradio_square-green.checked {
  background-position: -168px 0;
}
*/

// -----------------------------------------
// order 选择日期时间段 tips
// -----------------------------------------
.car-order-select-time-tips {
  background-color: #eee;
  text-align: center;
  padding: 8px 0px;
  margin-right: 2px;
}
.car-order-select-time-tips > div {
  display: inline-block;
  text-align: center;
}
.car-order-select-time-tips > div > p {
  width: 60px;
  height: 30px;
  border: 1px solid #3c8dbc;
  padding-top: 3px;
}
// 描述的字
.car-order-select-time-tips > div > span {
  font-size: 12px;
}
.car-order-select-time-tips .tip_enable > p {
  background-color: #fff;
}
.car-order-select-time-tips .tip_disable > p {
  background-color: #C2BFBF;
}
.car-order-select-time-tips .tip_selected > p {
  background-color: #fff;
}
.tip_enable .state.iradio_square-green:hover {
  background-position: -144px 0;
}


// -----------------------------------------
// 地图
// -----------------------------------------
#allmap {
  width: 100%;
  height: 100%;
}

// -----------------------------------------
// display none
// -----------------------------------------
.display_none {
  display: none;
}
