// -----------------------------------------
// 系统通用样式
// -----------------------------------------
html, body {
  background: #eee;
}

// -----------------------------------------
// tab导航
// -----------------------------------------
.car-nav-tabs-custom {
  .nav-tabs {
    border-bottom: 2px solid #3c8dbc;
    li {
      padding: 0px;
      margin-bottom: 0px;
      min-width: 100px;
      text-align: center;
    }
    li > a {
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      border: none;
      font-weight: bold;
    }
    li > a:hover, li > a:focus {
      border: none;
    }
    li.active {
      background-color: #3c8dbc;
      a {
        color: #fff;
        background-color: #3c8dbc;
      }
    }
    li:not(.active) {
      a {
        color: black;
      }
    }
    li:not(.active):hover {
      margin-right: 0px;
      background-color: #eee;
    }
  }
}

.car-nav-tabs-custom > .header {
  padding: 10px;
  background-color: #eee;
}

.car-nav-tabs-custom > .tab-content {
    padding: 20px 0px;
}

// -----------------------------------------
// footer部分
// -----------------------------------------
footer {
  padding: 20px 0px;
  background-color: #e4e4e4;
}


// -----------------------------------------
// 页面头部的工具栏
// -----------------------------------------
.car-toolbox {
  padding: 0px 10px;
  border-top: 0px;
  background-color: #f39c12;
  .btn-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

// -----------------------------------------
// 页面内容部分
// -----------------------------------------
.car-content-box {
  padding: 25px 15px 15px;
  dd {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed gray;
    padding-bottom: 5px;
  }
}

// 针对form的设计
.car-content-form {
  padding: 0;
}
// form表单部分
.car-form-items {
  padding: 25px 15px 15px;
}
// 提交按钮部分
.car-form-actions {
  padding: 15px;
}
