    <style>
      #main-content {
        margin-top: 50px;
        background-color: #fff;
        padding-bottom: 30px;
      }

      #main-jumbotron {
        background: url(<%= asset_path 'main_bg_image2.jpg' %>)
                    repeat-x transparent 50% 50%;
        height: 400px;
        width: 100%;
        color: white;
        text-align: center;
        margin-bottom: 20px;
      }

      #main-jumbotron .bottom {
        margin: auto;
        margin-top: 60px;
      }
    </style>

<% content_for :header_area do %>
    <!-- jumbotron -->
    <div id="main-jumbotron" class="jumbotron wrapped-content">
      <div class="container">
        <p style="width: 130px; margin-top: 98px; margin-left: -60px; font-weight: bold;" class="btn">在线预约检车</p>
        <!--
        <h1 style="font-size:50px; margin-top:50px;">一站式服务</h1>
        <h2 style="margin-top:30px;">
          <p>轻松预约，不用排队，个性服务，保您满意</p>
          <div class="bottom clearfix">
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button" style="font-size:30px;">在线预约检车 &raquo;</a>
            </p>
          </div>
        </h2>
        -->
      </div>
    </div>
    <!-- END jumbotron -->

<%end%>

    <div id="nav_circle" class="text-center">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4">
          <div class="car-big-nav-icon-telephone"></div>
          <h2>手机预约</h2>
          <p>ios, android应用.</p>
          <p><a class="btn btn-success" href="#" role="button">进入 &raquo;</a></p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="car-big-nav-icon-call"></div>
          <h2>电话预约</h2>
          <p>拨打400-400-400.</p>
          <p><a class="btn btn-success" href="#" role="button">进入 &raquo;</a></p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="car-big-nav-icon-weixin"></div>
          <h2>官方微信</h2>
          <p>扫一扫，关注我们.</p>
          <p><a class="btn btn-success" href="#" role="button">进入 &raquo;</a></p>
        </div><!-- /.col-sm-4 -->
      </div><!-- /.row -->
    </div><!-- /.nav_circle-->
