    <style>
      #main-content {
        margin-top: 50px;
        text-align: left;
      }
    </style>

    <div id="main-content" class="container marketing wrapped-content">

      <div class="row">
        <div class="col-md-3">
          <%= render "sidebar" %>
        </div><!-- /.col -->

        <div class="col-md-9" style="min-height: 300px;">
          <div class="info-list list-group">
            <%# @catagory.posts.published.each do |post| %>
            <%# TODO dairg .published 条件追加 %>
            <% @catagory.posts.each do |post| %>
            <a href="<%= front_post_path(@catagory, post) %>" class="list-group-item">
              <%= post.title %>
              <span class="tips-date pull-right">
                <em><%= l(post.updated_at.to_date) %></em>
              </span>
            </a>
            <% end %>
          </div>
        </div>
      </div><!-- /.row -->
    </div>
