<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <%= link_to new_front_user_uaq_path, {class: 'btn btn-default'} do%>
        <i class="glyphicon glyphicon-plus"></i> <%= t('view.action.new_question') %> 
      <% end -%>
    </div>
  </div>
</div>

<div class='car-content-list'>

  <% @uaqs.each do |item| %>
  <p><%= item.question %></p>
  <p><%= item.answer%></p>
  <br>
  <% end %>
  

</div>
