<div class='box car-toolbox'>
  <div class="btn-toolbar" role="toolbar">
  <% if can? :create, Station %>
    <div class="btn-group">
      <%= link_to new_back_system_station_path, {class: 'btn btn-default'} do%>
        <i class="glyphicon glyphicon-plus"></i> <%= t('view.action.new') %> 
      <% end -%>
    </div>
  <% end -%>
  </div>
</div>

<div class='car-content-list'>

  <%= grid @stations_grid do |g|
    g.action_column
    g.column name: Station.human_attribute_name(:id), attribute: "id"
    g.column name: Station.human_attribute_name(:name), attribute: "name"
    g.column name: Station.human_attribute_name(:status), attribute: "status",
      custom_filter: enum_list_for_view(Car::Code::STATION_STATUS, 'station.status') do |item|
      render "back/common/station_status", station: item
    end
    g.column name: Station.human_attribute_name(:address), attribute: "address" do |item|
      "#{ChinaCity.get(item.province)}#{ChinaCity.get(item.city)}#{ChinaCity.get(item.district)}#{item.address}"
    end
    g.column name: Station.human_attribute_name(:telephone), attribute: "telephone", ordering: false
    g.column do |item|
      links = []
      if can? :read, item
        links << link_to(I18n.t('view.action.show'), [:back, :system, item])
      end
      if can? :update, item
        links << link_to(I18n.t('view.action.edit'), edit_back_system_station_path(item))
      end
      if can? :destroy, item
        links << link_to(I18n.t('view.action.delete'), [:back, :system, item], method: :delete, data: { confirm: t('view.confirm.delete')})
      end
      links.join(t('view.label.links_split')).html_safe
    end
  end -%>

</div>
