<p>亲爱的 <%= @email %>:</p>

<p>欢迎加入车辆年检服务网!</p>

<p>请点击下面的链接确认您的账号：</p>

<p><%= link_to '确认我的邮箱', user_confirmation_url(confirmation_token: @token) %></p>

<p>--车辆年检服务网</p>

<p>(这是一封自动产生的email，请勿回复。)</p>
